ul{
    display: flex;
    height: 400px;
    list-style-type: none;
    margin: 20px;
    padding: 50px 80px 80px 80px ;
    background-color: blue;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding:10px 20px;
    text-decoration: none;;
    }
button{
    padding: 20px; 
    width: 100px;
    height: 30px;
    align-items: center;
    display: flex;
    border-radius: 30px;
        }
.blu{
    display: flex; 
    width: 100px;
    }
div button{
    width: 200px;
    height: 50px;
    display: block;
    background-color: blue;
    color: white;
    border-radius: 30px;
            }
.next{
  display: block;
  background-color: blue;
  color: white;
    }
